body {
  margin: 0;
  font-family: /* font stack (normal) */ 'URW Palladio L', 'Palladio URW', 'TeX Gyre Pagella', Palatino, 'Palatino Linotype', 'Book Antiqua', serif, 'HanaMinA', 'Adobe Song Std', 'Source Han Sans', 'WenQuanYi Micro Hei', 'WenQuanYi Zen Hei', 'Meiryo', 'Microsoft JhengHei', 'Microsoft YaHei';
  font-size: 16px;
  cursor: default;
  overflow-x: hidden;
  background-color: #fffff0;
  color: #000;
  background-attachment: fixed;
  background-image: url("/favicon/background_coffeestain.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  text-shadow: 0 0 #000;
}
@media (max-width: 1280px) {
  body {
    background-image: none;
  }
}
/* Pseudo element: scrollbar (WebKit-only) */
::-webkit-scrollbar {
  width: 32px;
  height: 32px;
  background-color: #fffff0; /* $B */
}
::-webkit-scrollbar-track {
  background-color: #fffff0; /* $B */
}
::-webkit-scrollbar-thumb {
  min-height: 64px;
  border-radius: 32px;
  border-style: solid;
  border-width: 12px;
  border-color: #fffff0; /* $B */
  background-color: #b22222; /* $F */
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: #dcdcdc; /* $G */
}
/* Contents (single column layout) */
html,
body,
.container {
  height: 100%;
}
.container {
  position: absolute;
  width: 50%;
  left: 20%;
  padding: 5% 5% 0 5%;
  font-size: 15px;
  line-height: 1.5em;
}
@media (max-width: 1023px), (orientation: portrait) {
  .container {
    position: absolute;
    width: 80%;
    left: 5%;
    padding: 5%;
  }
}
a {
  color: #b22222;
  text-decoration: none;
}
.home {
  display: table;
  width: 100%;
  height: 100%;
}
.home .info {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.home .info .logo {
  font-size: 2.5em;
  font-weight: bold;
}
.home .info .subtitle {
  font-size: 14px;
  color: #808080;
}
.home .info .sns {
  margin: 1em auto;
}
.home .info .sns a {
  width: 55px;
  color: #999;
  display: inline-block;
}
.home .info .sns a:hover {
  color: #000;
}
.home .info footer {
  border: 0;
  color: #000;
  padding: 0;
}
.page {
  padding: 0 40px;
  margin: 0 20px;
  margin-bottom: 2em;
}
.page p {
  line-height: 1.5em;
}
@media (max-width: 1023px), (orientation: portrait) {
  .page {
    padding: 0;
    margin: 0 20px;
    margin-bottom: 2em;
  }
}
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.highlight .comment,
.highlight .quote {
  color: #408090;
}
/* Tomorrow Red */
.highlight .variable,
.highlight .template-variable,
.highlight .tag,
.highlight .name,
.highlight .selector-id,
.highlight .selector-class,
.highlight .regexp,
.highlight .deletion {
  color: #c82829;
}
/* Tomorrow Orange */
.highlight .number,
.highlight .built_in,
.highlight .builtin-name,
.highlight .literal,
.highlight .type,
.highlight .params,
.highlight .meta,
.highlight .link {
  color: #f5871f;
}
/* Tomorrow Yellow */
.highlight .attribute {
  color: #eab700;
}
/* Tomorrow Green */
.highlight .string,
.highlight .symbol,
.highlight .bullet,
.highlight .addition {
  color: #718c00;
}
/* Tomorrow Blue */
.highlight .title,
.highlight .section {
  color: #4271ae;
}
/* Tomorrow Purple */
.highlight .keyword,
.highlight .selector-tag {
  color: #8959a8;
}
.highlight {
  display: block;
  overflow-x: auto;
  background: #fff;
  color: #000;
  padding: 0.5em;
}
.highlight .emphasis {
  font-style: italic;
}
.highlight .strong {
  font-weight: bold;
}
.header {
  margin-bottom: -0.6em;
  padding: 0 20px;
}
.header .blog-title {
  font-size: 2.5em;
  text-align: center;
  padding-top: 0.5em;
  font-variant: small-caps;
  line-height: 1.25em;
}
.header .subtitle {
  font-size: 14px;
  color: #808080;
}
.header .menu {
  margin: 0;
  padding: 0 0 0 40px;
  border-width: 0 0 2px 0;
  border-bottom: solid #ccc;
  margin-bottom: 25px;
  border-image: linear-gradient(to right, #fffff0, #b22222) 4;
}
.header .menu .menu-item {
  margin: 0 15px 0 0;
  padding: 3px 0 3px 0;
  float: inherit;
  display: inline-block;
}
.header .menu .menu-item-link {
  color: #999;
}
.header .menu .menu-item-link:hover {
  color: #000;
}
.figure {
  margin: 1em 0;
  text-align: center;
}
.post {
  padding: 0 40px;
  margin-bottom: 1.5em;
}
.post table {
  border-collapse: collapse;
  border-spacing: 0;
}
.post table td,
.post table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}
.post img {
  max-width: 100%;
}
.post hr {
  margin: 1.5em 0;
}
.post .post-content {
  text-align: justify;
}
.post .post-content a {
  border-bottom: 1px solid;
}
.post .post-content a:hover {
  border-bottom: 1px solid;
}
.post .post-content ul,
.post .post-content ol {
  text-align: left;
}
.post .post-content ul li,
.post .post-content ol li {
  padding: 0px;
  line-height: 1.5em;
}
.post figure {
  margin: 0;
}
.post figure table {
  width: 100%;
}
.post figure table .code {
  border: 0;
  padding: 0;
}
.post figure .gutter {
  display: none;
}
.post blockquote {
  margin: 0;
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
}
.post pre {
  margin: 0;
  padding: 0.5em 1.5em;
  overflow: auto;
  font-size: 110%;
  line-height: 1.5;
  background-color: #f7f7f7;
}
.post code {
  font-family: Monaco, source code pro, Inconsolata, monospace, Hiragino Sans GB, Microsoft YaHei, WenQuanYi, Airal, sans-serif;
  font-size: 1.02em;
  background: #eee;
  margin: 5px;
  padding: 0 5px;
}
.post p {
  line-height: 1.5em;
}
.post .toc {
  padding: 1em;
  list-style-type: square;
}
.post .toc-child {
  list-style: square;
}
.post .post-footer {
  line-height: 1;
  min-height: 1em;
}
.post .post-footer .top {
  float: right;
  color: #666;
}
.post .post-footer .top:hover {
  color: #000;
}
.post .post-footer .post-tag-list {
  display: inline-block;
  padding: 0;
  margin: 0 0 0.5em 0;
  color: #999;
}
.post .post-footer .post-tag-list .post-tag-list-item {
  display: inline-block;
  margin: 0 1em 0 0;
}
.post .post-footer .post-tag-list .post-tag-list-item a {
  font-size: 85%;
}
.post .post-footer .post-tag-list .post-tag-list-item:before {
  content: '#';
}
@media (max-width: 1023px), (orientation: portrait) {
  .post {
    padding: 0px;
    margin-bottom: 1.5em;
  }
}
.article-title {
  text-align: center;
  color: #b22222;
}
.archive {
  padding: 0 20px;
  margin-bottom: 1em;
}
.archive .post-archive {
  list-style: none;
  padding: 0 0 0 40px;
}
.archive .post-archive .post-item {
  margin: 3px 0;
  line-height: 1.5;
}
.archive .post-archive .post-item .post-date {
  font-size: 80%;
  color: #aaa;
  font-family: Monaco, monospace, Hiragino Sans GB, Microsoft YaHei, WenQuanYi, Airal, sans-serif;
}
@media screen and (max-width: 425px) {
  .archive .post-archive .post-item .post-date {
    float: none;
    margin-left: 0.5em;
    font-size: 90%;
    color: #999;
  }
}
.archive .post-archive .post-item .post-title {
/* border-bottom: 1px dotted; */
  text-decoration: none;
}
.archive .post-archive .post-item .post-title:hover {
  border-bottom: 1px solid;
}
.page-nav {
  padding: 0 20px;
}
.page-nav .prev,
.page-nav .page-number {
  padding: 10px 20px 10px 0;
}
.page-nav .next {
  float: right;
}
.page-nav a {
  color: #777;
}
.page-nav a:hover {
  color: #000;
}
footer {
  margin: 0.5em 20px 0 20px;
  border-width: 2px 0 0 0;
  border-top: double #ccc;
  border-image: linear-gradient(to right, #fffff0, #b22222) 4;
  padding: 0 0 0 40px;
  font-size: 80%;
  color: #999;
}
footer .author {
  color: #999;
}
#toc {
  float: right;
  font-size: 0.8em;
  color: color-link;
  margin: 5px;
  position: relative;
  left: 50px;
}
#toc .toc {
  background-color: #eee;
  list-style: none;
  padding: 10px;
}
#toc .toc-item,
#toc .toc-link {
  list-style: none;
}
#toc ol {
  margin: 0;
}
@media screen and (max-width: 640px) {
  #toc {
    display: none;
  }
}
#container .show-toc-btn,
#container .toc-article {
  display: block;
}
.toc-article {
  z-index: 100;
  background: #fffff0;
  border: 1px solid #ccc;
  max-width: 300px;
  min-width: 150px;
  max-height: 500px;
  overflow-y: auto;
  -webkit-box-shadow: 5px 5px 2px #ccc;
  box-shadow: 5px 5px 2px #ccc;
  font-size: 12px;
  padding: 10px;
  position: fixed;
  right: 0px;
  top: 129px;
}
.toc-article .toc-close {
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  float: right;
  color: #ccc;
}
.toc-article .toc-close:hover {
  color: #000;
}
.toc-article .toc {
  font-size: 12px;
  padding: 0;
  line-height: 20px;
}
.toc-article .toc .toc-number {
  color: #333;
}
.toc-article .toc .toc-text:hover {
  text-decoration: underline;
  color: #2a6496;
}
.toc-article li {
  list-style-type: none;
}
.toc-article .toc-level-1 {
  margin: 4px 0;
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.show-toc-btn {
  display: none;
  z-index: 10;
  width: 30px;
  min-height: 14px;
  overflow: hidden;
  padding: 4px 6px 8px 5px;
  border: 1px solid #ddd;
  position: fixed;
  right: 0px;
  text-align: center;
  background-color: #f9f9f9;
}
.show-toc-btn .btn-bg {
  margin-top: 2px;
  display: block;
  width: 16px;
  height: 14px;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
}
.show-toc-btn .btn-text {
  color: #999;
  font-size: 12px;
}
.show-toc-btn:hover {
  cursor: pointer;
}
.show-toc-btn:hover .btn-bg {
  background-position: 0 -16px;
}
.show-toc-btn:hover .btn-text {
  font-size: 12px;
  color: #ea8010;
}
.toc-article li ol,
.toc-article li ul {
  margin-left: 30px;
}
.toc-article ol,
.toc-article ul {
  margin: 10px 0;
}
@media screen and (max-width: 1000px) {
  .toc-article {
    display: none;
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  60% {
    opacity: 1;
    -o-transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
  }
  100% {
    -o-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.local-search {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}
.local-search-input-cls {
  width: 200px;
  margin: 10px 0;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #666;
  font-size: 14px;
}
#local-search-close {
  content: 'x';
  position: absolute;
  right: 10px;
  top: 10px;
  background: #fff;
  color: #888;
  border-radius: 100%;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  font-family: consolas;
  border: 1px solid #ccc;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  transform: rotateZ(0);
  transition: all 0.3s;
}
#local-search-close:hover {
  border-color: #666;
  color: #222;
  transform: rotateZ(180deg);
  transition: all 0.3s;
}
.local-search-result-cls {
  position: absolute;
  z-index: 99;
  width: 400px;
  top: 50px;
  right: 0;
}
.local-search-result-cls .local-search-empty {
  color: #888;
  line-height: 44px;
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: normal;
}
.local-search-result-cls ul {
  width: 360px;
  max-height: 450px;
  min-height: 0;
  height: auto;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 1px 2px 4px #ccc;
}
.local-search-result-cls ul li {
  text-align: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  line-height: 30px;
  font-weight: normal;
}
.local-search-result-cls ul li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.local-search-result-cls ul li a {
  margin-top: 20px;
  font-size: 16px;
}
.local-search-result-cls ul li p {
  margin-top: 10px;
  font-size: 14px;
  max-height: 124px;
  overflow: hidden;
}
.local-search-result-cls ul li em.search-keyword {
  color: #ea6753;
  font-weight: 900;
}
.local-search-plugin .local-search-input-cls {
  opacity: 0.6;
  width: 160px;
  transition: all 0.3s;
}
.local-search-plugin .local-search-input-cls:hover {
  opacity: 1;
  width: 200px;
  transition: all 0.3s;
}
.local-search-plugin .icon {
  position: relative;
  left: -30px;
  color: #999;
  cursor: pointer;
}
.search-result-title {
  color: #2ca6cb;
  font-weight: 900;
  font-size: 25px !important;
}
.search-result-title:hover {
  color: #ea6753;
  text-decoration: underline;
}
.search-result {
  color: #413f3f;
}
@font-face {
  font-family: 'URW Palladio L';
  font-style: normal;
  font-weight: normal;
  src: url("https://cdn.soimort.org/fonts/urw-palladio-l.woff") format('woff');
/*src: url('/fonts/urw-palladio-l.woff') format('woff');*/
}
